<ul>
	<h1>Depth: {{depth}}</h1>
	{{#each items}}
		<li>
			{{type}} has sub divisions: {{hasSubDivisions}}
			{{#if hasSubDivisions}}
				{{{postitems content}}}
			{{else}}
			  	
			{{/if}}
		</li>
	{{/each}}
</ul>